
 /*Use for guiding purposes
body {
	background-color: LightGray;
}
div {
	border: 1px solid Chocolate;
} */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: 'Roboto', sans-serif;
}
/*Nagivation Section */
.navigation {
	background-color: White; 
}
.logo {
	margin-top: 14px;
}
.navigation .content {
	width: 970px;
	height: 70px;
	margin: 0 Auto;
	padding: 0px 15px;
}
.navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 16px;
	margin-top: 25px;
	letter-spacing: 0.03em
	-webkit-font-smoothing: antialiased;
}
.navigation .links li {
	display: inline-block;
	margin-left: 25px;
}
.navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}
.navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}
/*removes underline and blue color from hyperlinks*/
a:link {
	text-decoration: none;
	color: #333333;
}
a:hover {
	color: #838994;
}

/*Styling the introduction block*/ 
.introduction {
	background-image: url('../images/karma-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}
.introduction h1, .introduction h3 {
	color: White;
	text-align: center;
	font-weight: 300;
}
.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}
.introduction h3 {
	margin-top: -1.25rem;
	font-size: 1.563rem;
}
/* Styling the button */
.big-button {
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	color: white;
	/*line-height: 1.33;
	display: block;*/
	margin: 0 auto;
	text-align: center;
}
.big-button:hover {
	background-color: #d9400e;
	cursor: pointer;
}

