
 Use for guiding purposes
body {
	background-color: LightGray;
}
div {
	border: 1px solid Chocolate;
}

/*Nagivation Section */
.navigation {
	background-color: White; 
}
.logo {
	margin-left: 14px;
}
.navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 Auto;
}